body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1ed760;
}

#audio-player {
    margin-top: 20px;
}

#youtube-player {
    width: 640px;
    height: 360px;
    margin-top: 20px;
}
